h1{
  text-align: center;
}

#slider{  
  width:900px;  
  height:400px;  
  margin: 10%;  
  margin-left:15%;  
  overflow:hidden;  
}  
.slides{  
  display:block;  
  width:6000px;  
  height:400px;  
  margin-left:0;  
  padding:0;  
}  
.slide{  
  float:left;  
  list-style-type:none;  
  width:900px;  
  height:400px;  
}  
img{  
  width:100%;  
  height:600PX;  
}  


.column {
  float: left;
  width: 25%;
  padding: 45px;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
  height: 20%;
}

.column img:hover {
  opacity: 1;
}
